/* Layout.css */
.layout-container {
    display: flex;
}
.standard-container {
    background-color: white; /* Set background color */
    margin: 2%; /* Add margin around content */
    padding: 16px; /* Add padding around content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    border-radius: 8px; /* Rounded corners */
    position: relative; /* Relative positioning for child elements */
}

.sidebar-space {
    position: relative;
    width: 60%; /* Fixed width for sidebar */
    padding: 24px; /* Padding around content */
    width: 100%; /* Full width */
    background-color: #f7fafc; /* Light gray background */
    color: black; /* Text color */
    min-height: 100vh; /* Minimum height for full viewport */
}
